body {
	background-image: url("img/matrix_letters.gif");
}

p {
	text-align: center;
	font-size: 20px;
	font-family: "comfortaa", "Calibri" ;
	color: #fff;
}

#results {
	font-size: 40px;
	color: #73AD21;
}

#form, #instructions {
	margin: auto;
	margin-top: 50px;
 	width: 60%;
 	border: 3px solid #73AD21;
 	padding: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: #000;
}

input {
	width: 100%;
	height: 50px;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 20px;
}

input::placeholder{
	text-align: center;
	font-size: 30px;
	color: #ccc;
}

input:focus::placeholder{
	color: #fff;
}

button{
	font-weight: bold;
	font-size: 20px;
	width: 50%;
	height: 40px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #73AD21;
}
